# Exclude Folders
.idea/*
models/*
misc/*
catkin_ws/*
tensorflow/output/*
tensorflow/tmp/*
tensorflow/htmlcov/*

# Exceptions
!catkin_ws/src/
!misc/getDatasetInfo/
!tensorflow/tmp/reproduce_random_shuffle_error.py
!tensorflow/tmp/count_valid_pixels.py

# Exclude Extensions
*/.DS_Store
*.pyc
*.DS_Store

# Exclude Files
matlab/predictions_NYUval.mat
tensorflow/results.txt
