# Exclude Folders
.idea/*
models/*
misc/*
tensorflow/output/*
tensorflow/tmp/*

!misc/getDatasetInfo/*
# Exclude Extensions
*/.DS_Store
*.pyc
*.DS_Store

# Exclude Files
matlab/predictions_NYUval.mat
tensorflow/results.txt
